@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181747;
  box-sizing: border-box;
  background-image: url('../src/assets/img/christmas-tree.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}